body{
    margin: 5%
}


img{
    height: 100px;
    width: 100px;
    border-radius: 40%;
}


th,td{
    display:table-cell;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}